{% extends "_layouts/dashboard.njk" %}
{% block body %}
<div class="container-form">
<div class="table-category">
<h1>Lista de Categorias: </h1>
		<td class="actions text-right">
			<a href="/category" class="btn btn-sm btn-success"><i class="fas fa-plus"></i> Adicionar</a>
		</td>
  <table class="table table-hover">
<thead>
	<tr>
		<th>Nome</th>
	</tr>
</thead>
<tbody>
{% if (categories != 0) %}
{% for category in categories %}
	<tr>
		<td>{{category.name}}</td>
		<td class="actions text-right">
			<a href="/category/edit/{{category._id}}" class="btn btn-sm btn-warning"><i class="fas fa-edit"></i> Editar</a>
      <a href="/category/{{category._id}}" class="btn btn-sm btn-danger"><i class="fas fa-trash-alt"></i> Excluir</a>
		</td>
	</tr>
{% endfor %}
{% else %}
	<tr>
		<td colspan="6">Nenhum registro encontrado.</td>
	</tr>
{% endif %}
</tbody>
</table>
    <div class="paginate">
    <a href="/categories?page={{pages.page -1}}" class="btn btn-sm btn-primary"
    {% if (pages.page === 1) %}
    disabled 
    {% endif %}
    
    >Anterior</a>
    <input type="text" value="{{pages.page}}" disabled>
    <span>de</span>
    <input type="text" value="{{pages.total}}" disabled>
    <a  class="btn btn-sm btn-success" href="/categories?page={{pages.page +1}}"
    {% if (pages.page === pages.total) %}
    disabled 
    {% endif %}
    >Próxima</a>
    </div>
</div>
</div>
{% endblock %}
