<div class="container-dashboard">
  <div class="header"></div>
  <div class="menu-left">
    <div class="conteudo-menu">
      <i class="fas fa-car"><a href=""> Cadastrar Veiculo</a></i>
      <a href="">Listar Veiculos</a>
    </div>
  </div>
  <div class="centro">
    <img
      src=" https://st3.depositphotos.com/1768926/13080/v/1600/depositphotos_130808298-stock-illustration-auto-car-logo-template.jpg"
    />
  </div>
</div>
