<div class="container-form">
  <div class="form">
    <form action="/login" method="post">
    <h3>LOGIN:</h3>
    <input type="text" name="email" placeholder="Email" />
    <input type="password" name="password" placeholder="Senha" />
    <button type="submit">Logar</button>
    <span>Esqueceu sua senha?</span>
    <form>
  </div>
</div>
