{% extends "_layouts/dashboard.njk" %}
{% block body %}
<div class="container-form">
<div class="table-customers">
<h1>Lista de Clientes: </h1>
		<td class="actions text-right">
			<a href="/customer" class="btn btn-sm btn-success"><i class="fas fa-plus"></i> Adicionar</a>
			    <select class="select">
      <option> </option>
      <option>Nome: </option>
      <option>CPF: </option>
      <option>Telefone: </option>
    </select>
			<input class="pesquisas" type="text" /><a class="pesquisar btn btn-sm btn-info">Pesquisar</a>
		</td>
  <table class="table table-hover">
<thead>
	<tr>
		<th>Nome</th>
		<th>CPF/CNPJ</th>
		<th>Telefone</th>
		<th>Opções</th>
	</tr>
</thead>
<tbody>
{% if (customers != 0) %}
{% for customer in customers %}
	<tr>
		<td>{{customer.name}}</td>
		<td>{{customer.cpf_cnpj}}</td>
		<td>{{customer.phone_number}}</td>
		<td class="actions text-right">
			<a href="/customer/{{customer._id}}" class="btn btn-sm btn-success"><i class="fa fa-eye"></i> Visualizar</a>
			<a href="/customer/edit/{{customer._id}}" class="btn btn-sm btn-warning"><i class="fas fa-edit"></i> Editar</a>
		</td>
	</tr>
{% endfor %}
{% else %}
	<tr>
		<td colspan="6">Nenhum registro encontrado.</td>
	</tr>
{% endif %}
</tbody>
</table>
	    <div class="paginate">
    <a href="/customers?page={{pages.page -1}}" class="btn btn-sm btn-primary"
    {% if (pages.page === 1) %}
    disabled 
    {% endif %}
    
    >Anterior</a>
    <input type="text" value="{{pages.page}}" disabled>
    <span>de</span>
    <input type="text" value="{{pages.total}}" disabled>
    <a  class="btn btn-sm btn-success" href="/customers?page={{pages.page +1}}"
    {% if (pages.page === pages.total) %}
    disabled 
    {% endif %}
    >Próxima</a>
    </div>
</div>
</div>
{% endblock %}
