* {
  padding: 0;
  margin: 0;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  font-family: "MontSerrat", Helvetica, sans-serif !important;
}
/* ---- Login ---*/
.container-form {
  background: #248ee5;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  background: #fff;
  width: 240px;
  height: 250px;
  border-radius: 10px;
  padding: 30px;
  text-align: center;
}
.form input {
  padding: 10px;
  margin-top: 8px;
}
.form button {
  margin-top: 10px;
  padding: 10px;
  width: 220px;
  background: #e57e24;
  border: none;
  margin-bottom: 7px;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
}
.form span {
  color: #041e93;
}
.form h3 {
  font-weight: 700;
  font-size: 20px;
}

/* ---- END Login ---*/
