* {
  padding: 0;
  margin: 0;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

/* ---- DASHBOARD---*/
#main {
  min-height: 800px;
  margin: 0px;
  padding: 0px;
  display: -webkit-flex;
  -webkit-flex-flow: row;
  flex-flow: row;
  height: 100%;
}

#main > article {
  background: #c5c5c5;
  flex: 1 3 70%;
  -webkit-order: 2;
  order: 2;
}

#main > nav {
  -webkit-flex: 1 6 10%;
  flex: 1 6 5%;
  -webkit-order: 1;
  order: 1;
}

footer {
  display: block;
  min-height: 50px;
  background: black;
}

/* Too narrow to support three columns */
@media all and (max-width: 640px) {
  #main,
  #page {
    -webkit-flex-flow: column;
    flex-flow: column;
  }

  #main > article,
  #main > nav {
    order: 0;
  }

  #main > nav,
  footer {
    min-height: 50px;
    max-height: 50px;
  }
}
.menu {
  background: #1e1e1e;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.menu ul,
li {
  list-style: none;
}
.menu a {
  text-decoration: none;
  color: black;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
}
.menu i {
  padding-right: 10px;
}

.menu li {
  display: inline-block;
  width: 100%;
  padding: 10px;
}

.menu li:hover {
  color: #fff;
  background: #fc4006;
}
.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #fff;
}
.logo img {
  width: 130px;
  height: 130px;
  border: 3px solid #fff;
  border-radius: 50%;
  align-self: center;
}
.logo strong {
  font-size: 18px;
  color: white;
  font-weight: 900;
  letter-spacing: 2px;
}
/* ---- END DASHBOARD ---*/
