* {
  padding: 0;
  margin: 0;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

/* Login */
.container-form {
  background: #248ee5;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  background: #fff;
  width: 240px;
  height: 250px;
  border-radius: 10px;
  padding: 30px;
  text-align: center;
}
.form input {
  padding: 10px;
  margin-top: 8px;
}
.form button {
  margin-top: 10px;
  padding: 10px;
  width: 220px;
  background: #e57e24;
  border: none;
  margin-bottom: 7px;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
}
.form span {
  color: #041e93;
}
.form h3 {
  font-weight: 700;
  font-size: 20px;
}

/*
Dashboard
*/

.header {
  width: 100%;
  height: 40px;
  border: 1px solid black;
  display: block;
  background: #1b1e28;
}
.menu-left {
  width: 180px;
  height: 100%;
  border-top: 1px solid black;
  background: #1b1e28;
}
.conteudo-menu {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.conteudo-menu a {
  text-decoration: none;
  color: white;
  margin-bottom: 3px;
}
.conteudo-menu i {
  color: #fff;
}
.centro {
  width: 400px;
  display: block;
  background: red;
  float: right;
}
.centro img {
  display: inline-block;
  margin-left: 400px;
  width: 400px;
  height: 400px;
  border: 1px solid black;
}
